#containeR{
width: 300px;
height: 15px;
/* border: 1px black solid;  */
border-radius: 35%;
margin: 2px;
float: left;
}
#myBackground{
    background: black;    
}

#codingSession{
    border-style: dotted;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}
#red{
  background: red;
}
#blue{
  background: blue;
}
#green{
  background: green;
}
#yellow{
  background: yellow;
}
